<ion-header>

  <ion-navbar color="googleWhite">
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="center">Programs</ion-title>

    <ion-buttons right>
      <button ion-button round clear >
        <ion-item class="transparent">
          <ion-avatar item-end>
            <!-- <img src="{{photo_url}}"> -->
            <img src="photo_url" class="right">
          </ion-avatar>
        </ion-item>

      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="programType" color="primary">
    <ion-segment-button value="Courses" (click)="getCourseCollection()">
      Courses
    </ion-segment-button>
    <ion-segment-button value="Strands" (click)="getStrandCollection()">
      Strands
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="card-background-page">
  <div [ngSwitch]="programType">
    <div *ngSwitchCase="'Courses'" >
        <ion-card *ngFor="let courseDocument of courseCollection" (click)="openInAppBrowser(courseDocument.program_page_url)">
            
            <div class="img overlay" [style.background-image]="'url(' + courseDocument.program_photo_url + ')'"></div>
            <!-- <img src="{{courseDocument.program_photo_url}}" class="overlay"/> -->
            <div class="card-title">{{courseDocument.program_acronym}}</div>
            <div class="card-subtitle">{{courseDocument.program_name}}</div>
          </ion-card>
    </div>
    <div *ngSwitchCase="'Strands'" >
        <ion-card *ngFor="let strandDocument of strandCollection" (click)="openInAppBrowser(strandDocument.program_page_url)">
            
            <div class="img overlay" [style.background-image]="'url(' + strandDocument.program_photo_url + ')'"></div>
            <!-- <img src="{{courseDocument.program_photo_url}}" class="overlay"/> -->
            <div class="card-title">{{strandDocument.program_acronym}}</div>
            <div class="card-subtitle">{{strandDocument.program_name}}</div>
          </ion-card>
    </div>
  </div>


</ion-content>