page-news {

    .transparent {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
    }

    .center{
        position: absolute;
        left: 50.0%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
        // position: absolute;
        // left: 47.8%;
        // margin-right: 5.2%;
        // transform: translate(-50%, -50%) 
    .right{
        position: absolute;
        left: 100.0%;
        margin-right: -0%;
        margin-top: 5%;
        transform: translate(-100%, -0%);
    }
    ion-avatar img  {
        width:100% !important;
        height : 100% !important;
        max-width: 30px !important;  //any size
        max-height: 30px !important; //any size
    }
    .card{
        border-radius: 8px;
    }
    .card-img-news {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 250px;

     }
     @media only screen and (min-width: 400px) {
        .card-img-news {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 250px;
            max-height: 500px;
    
         }
    }
}
